{% extends 'base.html.twig' %}

{% block body %}
  <h1>{{ author.name }}</h1>

  <section>
    {% for book in author.books %}
      <div>
        <h3>{{book.title}}</h3>
      </div>
      <div>
        <p>{{book.description | raw}}</p>
      </div>
    {% endfor %}
  </section>
{% endblock %}
